* {
  display:inline-flex;
  max-width: 200px;
}
.car2 {
  position: absolute;
  right: 0%;
  animation-name: move-left;
  animation-duration: 4s;
  animation-iteration-count: infinite;

.car1{
  position: absolute;
  left: 0%;
  animation-name: move-right;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
}
@keyframes move-left{
  0%{
    right: 0;
  }
  50%{
    right: 40%;
  }
}
@keyframes move-right{
  0%{
    left: 0;
  }
  50%{
    left: 50%;
  }
}
